.mobile-app-login-modal {

  &.footer-nav-ipad.modal-open.docked {
    padding-top: 0px;
  }

  #main-outlet {
    width: unset;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  header.d-header .contents {
    width: unset;
  }
}
